* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1290px;
}
@media screen and (max-width: 1366px) {
  .container {
    width: 92vw;
  }
}

.bold-caption {
  font-family: Cormorant-Bold;
  font-size: 4.375rem;
}

.caption {
  font-family: Cormorant-Regular;
  font-size: 3.125rem;
}

.text {
  font-family: MPLUS1p-Regular;
  font-size: 0.9375rem;
}

.btn {
  background: #FC3698;
  padding: 0.9375rem 2.1875rem;
  font-family: MPLUS1p-Regular;
  font-weight: 800;
  color: #fff;
  width: fit-content;
  box-shadow: 0 0.3125rem 2.1875rem #FC3698;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 620px) {
  .btn {
    font-size: 14px;
  }
}

.ok {
  position: relative;
  margin-left: 1.5625rem;
}

.ok::before {
  content: url("../img/icon-ok.png");
  position: absolute;
  left: -1.5625rem;
  top: 50%;
  transform: translateY(-50%);
}

.main-caption {
  position: relative;
  font-weight: bold;
  margin: 100px auto 0 auto;
  width: fit-content;
}
.main-caption::before, .main-caption::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #764F96;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-caption::before {
  left: -25px;
}
.main-caption::after {
  right: -25px;
}
@media screen and (max-width: 900px) {
  .main-caption {
    font-size: 40px;
  }
}
@media screen and (max-width: 620px) {
  .main-caption {
    font-size: 30px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 450px) {
  .main-caption {
    font-size: 20px;
  }
}

.interlayer {
  display: flex;
  justify-content: center;
  border-bottom: 3px #000 dashed;
}
.interlayer__wrapper {
  position: relative;
  width: 209px;
  height: 209px;
  background: #DDD1E7;
  clip-path: polygon(100% 100%, 0% 100%, 50% 75%);
  margin-bottom: -3px;
}
.interlayer__block::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -121px;
  width: 250px;
  border-bottom: 3px black dashed;
  transform: rotate(-26.5deg);
}
.interlayer__block::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -121px;
  width: 250px;
  border-bottom: 3px black dashed;
  transform: rotate(26.5deg);
}

.instagram-text {
  background: -webkit-linear-gradient(-135deg, #f9d76c, #f9d76c, #f9a837, #f03d74, #e62299, #6f3ea2, #4850ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}

.instagram-btn {
  display: flex;
  align-items: center;
  border-radius: inherit;
  background: #DDD1E7;
  padding: 17px 35px;
}
.instagram-btn__text {
  margin-left: 5px;
  font-weight: 600px;
}
.instagram-btn__wrapper {
  width: fit-content;
  height: fit-content;
  padding: 2px;
  border-radius: 2px;
  background: -webkit-linear-gradient(-135deg, #f9d76c, #f9d76c, #f9a837, #f03d74, #e62299, #6f3ea2, #4850ab);
}

.youtube-btn {
  display: flex;
  align-items: center;
  border-radius: inherit;
  background: #fff;
  padding: 17px 35px;
}
.youtube-btn__text {
  margin-left: 5px;
  font-weight: 600px;
}
.youtube-btn__wrapper {
  width: fit-content;
  height: fit-content;
  padding: 2px;
  border-radius: 2px;
  background: -webkit-linear-gradient(-135deg, #EF2F36 0%, #90191E 100%);
}

.youtube-text {
  background: -webkit-linear-gradient(-135deg, #EF2F36 0%, #90191E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}

.subscribe {
  margin: 50px 0 30px 0 !important;
}

.video-slider {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}
.video-slider__item {
  display: flex !important;
  justify-content: center;
}
.video-slider__content {
  width: fit-content;
}

.prev-arrow {
  position: absolute;
  left: -50px;
  top: 50%;
  cursor: pointer;
}

.next-arrow {
  position: absolute;
  right: -50px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%) rotate(180deg);
}

@font-face {
  font-family: MPLUS1p-Black;
  src: url("../fonts/MPLUS1p-Black.ttf");
}
@font-face {
  font-family: MPLUS1p-Bold;
  src: url("../fonts/MPLUS1p-Bold.ttf");
}
@font-face {
  font-family: MPLUS1p-ExtraBold;
  src: url("../fonts/MPLUS1p-ExtraBold.ttf");
}
@font-face {
  font-family: MPLUS1p-Light;
  src: url("../fonts/MPLUS1p-Light.ttf");
}
@font-face {
  font-family: MPLUS1p-Medium;
  src: url("../fonts/MPLUS1p-Medium.ttf");
}
@font-face {
  font-family: MPLUS1p-Regular;
  src: url("../fonts/MPLUS1p-Regular.ttf");
}
@font-face {
  font-family: MPLUS1p-Thin;
  src: url("../fonts/MPLUS1p-Thin.ttf");
}
@font-face {
  font-family: Cormorant-Bold;
  src: url("../fonts/Cormorant-Bold.ttf");
}
@font-face {
  font-family: Cormorant-Regular;
  src: url("../fonts/Cormorant-Regular.ttf");
}
@font-face {
  font-family: Cormorant-Italic;
  src: url("../fonts/Cormorant-BoldItalic.ttf");
}
.header {
  font-family: MPLUS1p-Medium;
  background-color: #fff;
  font-size: 13px;
  box-shadow: -55px 0 55px #d4d4d4;
}
.header__wrapper {
  display: flex;
  justify-content: stretch;
  margin: 0 auto;
}
@media screen and (max-width: 1366px) {
  .header__wrapper {
    width: 85vw;
  }
}
@media screen and (max-width: 900px) {
  .header__wrapper {
    width: 100vw;
  }
}
.header__item {
  cursor: pointer;
  white-space: nowrap;
}
.header__item_special {
  color: #764F96;
  border-bottom: 2px dashed #764F96;
  height: 17px;
}
@media screen and (max-width: 1250px) {
  .header__item:not(.header__logo) {
    padding: 5px 15px;
  }
}
@media screen and (max-width: 900px) {
  .header__item:not(.header__logo) {
    padding: 5px 10px;
  }
}
@media screen and (max-width: 620px) {
  .header__item:not(.header__logo) {
    padding: 5px 5px;
  }
}
@media screen and (max-width: 450px) {
  .header__item:not(.header__logo, .header__item_special) {
    display: none;
  }
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}
@media screen and (max-width: 1250px) {
  .header__block {
    padding: 7px 0;
  }
}
@media screen and (max-width: 620px) {
  .header__block {
    width: auto;
  }
}
.header__up-item {
  font-size: 10px;
  color: #999999;
}
.header__icons {
  display: flex;
}
.header__icon {
  margin-right: 15px;
}
.header__logo {
  height: 59px;
  margin: 0 25px;
}
@media screen and (max-width: 1250px) {
  .header__logo img {
    transform: scale(1.25);
    margin-top: 15px;
  }
}
@media screen and (max-width: 900px) {
  .header__logo img {
    transform: scale(1.2);
    margin-top: 5px;
  }
}
@media screen and (max-width: 620px) {
  .header__logo img {
    transform: scale(1);
    margin-top: 0;
  }
}
@media screen and (max-width: 450px) {
  .header__logo img {
    transform: scale(0.8);
    margin-top: -15px;
  }
}
@media screen and (max-width: 450px) {
  .header__logo {
    margin: 0;
  }
}
@media screen and (max-width: 620px) {
  .header__menu .header__item {
    display: none;
  }
}
.header__menu-icon {
  padding: 10px;
  display: none;
}
@media screen and (max-width: 620px) {
  .header__menu-icon {
    display: block;
  }
}

.introduce {
  overflow: hidden;
  padding-bottom: 3.375rem;
}
.introduce__wrapper {
  z-index: 1;
  position: relative;
}
.introduce__wrapper::before {
  content: url("../img/introduce_preview.png");
  position: absolute;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 1366px) {
  .introduce__wrapper::before {
    right: -225px;
  }
}
@media screen and (max-width: 900px) {
  .introduce__wrapper::before {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 900px) {
  .introduce__wrapper::before {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 620px) {
  .introduce__wrapper::before {
    content: url("../img/introduce_preview_black.png");
    top: -150px;
    left: 50%;
    transform: translateX(-50%) scale(1.2);
    right: auto;
  }
}
@media screen and (max-width: 620px) {
  .introduce__wrapper {
    color: #fff;
  }
}
.introduce__1s {
  margin-top: 5.1875rem;
  font-size: 1.875rem;
}
@media screen and (max-width: 900px) {
  .introduce__1s {
    font-size: 1.5rem;
    margin-top: 4.5rem;
  }
}
.introduce__2s {
  margin-top: 1.875rem;
}
@media screen and (max-width: 1366px) {
  .introduce__2s {
    font-size: 3.75rem;
  }
}
@media screen and (max-width: 900px) {
  .introduce__2s {
    font-size: 2.5rem;
  }
}
.introduce__3s {
  margin-top: 0.625rem;
}
@media screen and (max-width: 1250px) {
  .introduce__3s {
    font-size: 1.875rem;
  }
}
.introduce__4s {
  margin-top: 1.875rem;
}
.introduce__5s {
  margin-top: 0.9375rem;
}
.introduce__btn {
  margin-top: 1.875rem;
}

.blef {
  padding-bottom: 100px;
}
.blef__content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
@media screen and (max-width: 1250px) {
  .blef__content {
    align-items: center;
  }
}
@media screen and (max-width: 620px) {
  .blef__content {
    flex-direction: column;
    margin-top: 30px;
  }
}
.blef__articles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.blef__article {
  position: relative;
  width: 350px;
}
.blef__article::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  left: -15px;
  border-radius: 50%;
  background: #FC3698;
}
@media screen and (max-width: 1250px) {
  .blef__article {
    width: 281px;
    margin: 17px 0;
  }
}
@media screen and (max-width: 900px) {
  .blef__article {
    width: 201px;
    margin: 17px 0;
  }
}
@media screen and (max-width: 620px) {
  .blef__article {
    width: 65vw;
  }
}
.blef__picture {
  width: 500px;
}
.blef__picture img {
  width: inherit;
}
@media screen and (max-width: 620px) {
  .blef__picture img {
    content: url("../img/blef-person_without-arrows.jpg");
    margin: 15px 0;
  }
}
@media screen and (max-width: 1366px) {
  .blef__picture {
    width: 90%;
  }
}
@media screen and (max-width: 620px) {
  .blef__picture {
    width: 90vw;
  }
}

.portfolio {
  width: 100%;
  background: #DDD1E7;
  padding-bottom: 100px;
}
.portfolio__caption {
  margin: 30px auto;
}
.portfolio__works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1250px) {
  .portfolio__works {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
.portfolio__couple {
  display: flex;
}
@media screen and (max-width: 1250px) {
  .portfolio__couple {
    flex-direction: column;
  }
}
.portfolio__item img {
  width: 215px;
  height: 215px;
}
.portfolio__btn {
  margin-left: auto;
  margin-right: auto;
}
.portfolio__subscribe {
  display: flex;
  align-items: center;
  margin: 0 auto !important;
  width: fit-content;
}
@media screen and (max-width: 620px) {
  .portfolio__subscribe {
    flex-direction: column;
  }
}

.problems {
  overflow-x: hidden;
}
.problems__row {
  display: flex;
}
.problems__row:not(.problems__row:nth-child(2)) {
  margin-top: -60px;
  margin-left: -230px;
}
@media screen and (max-width: 1250px) {
  .problems__row:not(.problems__row:nth-child(2)) {
    margin-left: 0px;
  }
}
@media screen and (max-width: 900px) {
  .problems__row:not(.problems__row:nth-child(2)) {
    margin-top: -50px;
    margin-left: 0;
  }
}
.problems__block {
  display: flex;
}
@media screen and (max-width: 1250px) {
  .problems__block {
    flex-direction: column;
  }
}
.problems__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 190px;
  background: #ececec;
  padding: 25px;
  margin: 5px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.problems__item_hover {
  cursor: pointer;
}
@media screen and (max-width: 1250px) {
  .problems__item:nth-child(2) {
    margin-left: -110px;
    margin-top: -55px;
  }
}
@media screen and (max-width: 900px) {
  .problems__item:nth-child(2) {
    margin-left: -85px;
    margin-top: -45px;
  }
}
.problems__item_hidden {
  display: none;
}
@media screen and (max-width: 900px) {
  .problems__item {
    width: 120px;
    height: 140px;
  }
}
.problems__icon {
  margin-top: 15px;
}
@media screen and (max-width: 900px) {
  .problems__icon img {
    width: 35px;
  }
}
.problems__text {
  text-align: center;
  margin-top: 15px;
}
@media screen and (max-width: 900px) {
  .problems__text {
    font-size: 10px;
  }
}
@media screen and (max-width: 900px) {
  .problems__caption {
    width: 250px;
    text-align: center;
  }
}

.advantages {
  background: #fcf9ff;
  padding-bottom: 40px;
}
.advantages__caption {
  font-weight: bold;
}
.advantages__cell {
  display: flex;
  margin-top: 30px;
}
.advantages__cell:first-child {
  margin-top: 50px;
}
.advantages__cell:nth-child(2n) {
  margin-left: 50px;
}
.advantages__cell:nth-child(2n) .advantages__block {
  margin: 0 15px;
}
@media screen and (max-width: 1366px) {
  .advantages__cell:nth-child(2n) .advantages__block {
    margin: 0 7.5px;
  }
}
.advantages__cell:nth-child(2n+1) {
  margin-left: -50px;
}
.advantages__cell:nth-child(2n+1) .advantages__block {
  margin: 0 25px;
}
@media screen and (max-width: 1366px) {
  .advantages__cell:nth-child(2n+1) .advantages__block {
    margin: 0 7.5px;
  }
}
@media screen and (max-width: 1366px) {
  .advantages__cell {
    margin-left: 0 !important;
    margin-right: 0;
  }
}
@media screen and (max-width: 1250px) {
  .advantages__cell {
    flex-direction: column;
    margin-top: 0;
  }
}
.advantages__blocks {
  display: flex;
  flex-direction: column;
}
.advantages__block {
  display: flex;
  padding: 25px 20px;
  width: 560px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 30px #b3a2c0;
}
@media screen and (max-width: 1250px) {
  .advantages__block {
    margin-top: 30px !important;
  }
}
@media screen and (max-width: 620px) {
  .advantages__block {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.advantages__number {
  color: #DDD1E7;
  font-family: Cormorant-Italic;
  width: 116px;
  font-size: 140px;
  line-height: 100px;
}
@media screen and (max-width: 900px) {
  .advantages__number {
    font-size: 100px;
  }
}
@media screen and (max-width: 620px) {
  .advantages__number {
    font-size: 70px;
  }
}
.advantages__info {
  position: relative;
  margin-left: 30px;
  width: 402px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.advantages__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 1px;
  height: 100%;
  background: #DDD1E7;
}
.advantages__text {
  font-size: 15px;
}

.reviews .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__subscribe {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
}
@media screen and (max-width: 620px) {
  .reviews__subscribe {
    flex-direction: column;
  }
}

.doctors {
  padding-bottom: 115px;
}
.doctors__slider {
  margin-top: 50px;
}
.doctors__btn {
  margin: 0 auto;
}
.doctors__profession {
  margin-top: 5px;
  font-weight: bold;
}
.doctors__name {
  margin-top: 5px;
}

.footer {
  display: flex;
  background: #764F96;
  color: #fff;
}
.footer__social-media {
  margin-left: auto;
  margin-right: 96px;
  margin-top: 60px;
}
@media screen and (max-width: 1250px) {
  .footer__social-media {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__logo {
  background: #fff;
  padding: 25px 20px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}
.footer__icon {
  display: grid;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 22px;
  height: 22px;
}
.footer__contacts {
  margin-top: 60px;
  margin-right: 59px;
}
@media screen and (max-width: 1250px) {
  .footer__contacts {
    margin-right: 0;
  }
}
.footer__caption {
  font-size: 18px;
}
.footer__map img {
  width: calc(50vw - 20px);
}
@media screen and (max-width: 1250px) {
  .footer__map img {
    margin-top: 25px;
  }
}
@media screen and (max-width: 620px) {
  .footer__map img {
    width: calc(100vw - 10px);
  }
}
@media screen and (max-width: 1250px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.office {
  position: relative;
  height: fit-content;
}
.office::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 10px;
  width: 1px;
  height: 100%;
  background: #fff;
  opacity: 0.5;
}
.office::after {
  content: "";
  position: absolute;
  left: -21.5px;
  top: 3px;
  width: 13px;
  height: 15px;
  background: #fff;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.office__city {
  margin-top: 29px;
  font-size: 13px;
}
.office__phone {
  margin-top: 9px;
  font-size: 18px;
}
.office__address {
  margin-top: 6px;
  font-size: 15px;
}
.office__watch {
  position: relative;
  width: fit-content;
  margin-top: 4px;
  font-size: 13px;
}
.office__watch::before {
  position: absolute;
  content: "";
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

/*# sourceMappingURL=main.css.map */
